APP_REPOSITORY_POSTGRES_ADDRESS=localhost:5429
APP_REPOSITORY_POSTGRES_NAME=your_database
APP_REPOSITORY_POSTGRES_USERNAME=your_username
APP_REPOSITORY_POSTGRES_PASSWORD=your_password
APP_REPOSITORY_POSTGRES_READ_TIMEOUT=30s
APP_REPOSITORY_POSTGRES_WRITE_TIMEOUT=30s
APP_REPOSITORY_POSTGRES_MIGRATION_TABLE=schema_migrations

APP_PROCESSOR_WEB_SERVER_LISTEN_PORT=8080

APP_MONITOR_LOG_LEVEL=debug
APP_MONITOR_ENVIRONMENT=development